<h3>Editing Patient Checklist Entry</h3>

<%= render 'form' %>
<!-- probably need to make @service Service.find(@patient.service_id) -->

<!--<%= link_to 'View', @patient %> |
<%= link_to '', patients_path, class:"glyphicon glyphicon-home" %>
